a{
    text-decoration: none;
    
    
}
li{
    list-style: none;
    color: white;
    padding: 0 10px;
 
}
h5 {
    font-size: 18px;
    font-weight: 800;
    color: #ff8278;
}

h1 {
    font-size: 54px;
    font-weight: 800;
    color: #003c46;
}





.top-bar{
    background-color:rgb(0, 60, 70); ;
}
.color{
    background-color:rgb(255, 130, 120); ;
}
.menu{
    margin-left: 154px;
}
.button a{
    padding: 15px 45px;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    background: #ff8278;
    color: #ffffff;
    border-radius: 40px;
    margin-top: 40px;
    display: inline-block;
}
.button .more{
    color: #ff8278;
    background: #ffffff;
}
.doller-top h5::after{
    position: absolute;
    content: "";
    width: 130px;
    height: 3px;
    background: #ff8278;
    left: 44%;
    bottom: -10px;
}
.doller-section {
    background-color: #dcdcdc;
}


/* --------- */
.tv-top h5::after{
    position: absolute;
    content: "";
    width: 90px;
    height: 2px;
    background: #ff8278;
    left: 46%;
    bottom: -10px;
}
.tv-content{
    margin-left: 90px;
    max-width: 475px;
}
/* ------- */
.man-logo img{
    margin-bottom: -29px;
}
.acordion-section{
    background-color: #DCDCDC;
    padding: 100px;
}

